%h2 Edit Book

= form_tag book_path(@book), :method => :put do

  = label :book, :title, 'Title'
  = text_field :book, 'title'

  = label :book, :genre, 'Genre'
  = select :book, :genre, ['Science fiction','Drama','Action and Adventure','Romance','Mystery','Horror']
 
  = label :book, :publish_date, 'Published On'
  = date_select :book, :publish_date
  
  = label :book, :ISBNnum, 'ISBN number'
  = text_field :book, :ISBNnum

  = label :book, :description, 'Description'
  = text_field :book, :description

  = submit_tag 'Save Changes'